@charset "utf-8";
/* CSS Document */
table1 {
  align-content: center;
}
#myBtn {
  border: none; /* Remove borders */
  color: red; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  font-family: 'Comic Sans MS', 'Comic Sans', 'Coming Soon',  cursive;
}

.button {background-color: #4CAF50;} /* Green */
.button:hover {background-color: #46a049;}

.myBtn {background-color: #4CAF50;} /* Green */
.myBtn:hover {background-color: #46a049;}

myBtn {
  border: none; 
  color: red; 
  padding: 14px 28px; 
  cursor: pointer;
  font-family: 'Coming Soon', "Comic Sans MS", "Comic Sans", cursive;
}

aside { 
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 200px; 
    background: rgba(255,255,255,0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 8px;
}
